# Node.js
node_modules
npm-debug.log
yarn-error.log

# IDEs
../.idea
.vscode

# Logs et temporaires
*.log
*.tmp

# Environnement
.env

# Mac / Windows
.DS_Store
Thumbs.db

# Front-end / Docker
docker-compose.override.yml